---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import '../assets/me.json';
const {default: meData } = await import('../assets/me.json');
---

<Layout>
	<h1>{meData.nombre}</h1>
	<h2>{meData.profesion}</h2>
	<h2>{meData.bio}</h2>
	<h2>experiencia</h2>
	{meData.experiencia.map((exp)=>(
	<p>{exp.nombre}</p>
	<p>{exp.descripcion}</p>
	<p>{exp.fecha}</p>
	))}

	<h2>habilidades</h2>
	{meData.habilidades.map((habilidad)=>(
		<p>{habilidad}</p>
		))}
</Layout>
