---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import '../assets/me.json';
const {default: meData } = await import('../assets/me.json');
---

<Layout>
	<h1>{meData.nombre}</h1>
	<h2>{meData.apellidos}</h2>
	<h2>{meData.profesion}</h2>
	<h2>{meData.descripcion}</h2>
	<h2>{meData.estudios}</h2>
	<h2>{meData.experiencia}</h2>
</Layout>
